<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>{{cute_animals}}</p>

    <ul>
        {%for animal in cute_animals %}
            <li>{{animal}}</li>
        {%endfor%}
    </ul>

    <form action="/new" method="post">
        {% csrf_token %}
        <label for=""> Email:
            <input type="text" name="email">
        </label>
        <label for=""> Password:
            <input type="text" name="password">
        </label>
        <button>Submit</button>
    </form>
</body>
</html>